<h3>Version 2.5.6 - 2024-11-28</h3>
<ul>
	<li>New: Update WCAM library to version 2.9.3</li>
</ul>

<h3>Version 2.5.5 - 2023-10-12</h3>
<ul>
	<li>Fix: Remove extra slash for includes/display-environment-type/css/admin.css</li>
</ul>

<h3>Version 2.5.4 - 2023-09-11</h3>
<ul>
	<li>Fix: Use !class_exists('WC_AM_Client_2_9_1')</li>
</ul>

<h3>Version 2.5.3 - 2023-09-01</h3>
<ul>
	<li>New: Update WCAM library to version 2.9.1</li>
</ul>

<h3>Version 2.5.2 - 2023-05-23</h3>
<ul>
	<li>New: Update WCAM library to version 2.9</li>
	<li>Tweak: Remove more dashboard widgets</li>
</ul>

<h3>Version 2.5.1 - 2023-05-08</h3>
<ul>
	<li>Fix: enable_action_scheduler_high_volume_processing option name</li>
	<li>New: Action Scheduler Automatic Purge timing</li>
	<li>Tweak: Remove more dashboard widgets</li>
</ul>

<h3>Version 2.5.0 - 2023-03-27</h3>
<ul>
	<li>New: Display Environment Type</li>
</ul>

<h3>Version 2.4.2 - 2023-01-30</h3>
<ul>
	<li>Handle subscriptions that have been set to cancelled status</li>
</ul>

<h3>Version 2.4.1 - 2023-01-12</h3>
<ul>
	<li>Tweak: QuickPay MobilePay Subscription handling for subscription trial end</li>
</ul>

<h3>Version 2.4.0 - 2023-01-09</h3>
<ul>
	<li>Fix: wpdb prepare statements</li>
</ul>

<h3>Version 2.3.9 - 2023-01-01</h3>
<ul>
	<li>Tweak: Handle QuickPay and manual renewals</li>
</ul>

<h3>Version 2.3.8 - 2022-12-09</h3>
<ul>
	<li>Tweak: Modifications to 'subscription trial end' failed actions</li>
</ul>

<h3>Version 2.3.7 - 2022-12-02</h3>
<ul>
	<li>Tweak: Improvements to failed actions where susbcription is on-hold and has a pending renewal order</li>
	<li>New: Handle 'subscription end of prepaid term' failed actions</li>
	<li>Tweak: Improvements to data output for Zapier to better be able to use the Zap(s) in a meaningful way</li>
</ul>

<h3>Version 2.3.6 - 2022-11-22</h3>
<ul>
	<li>New: Handle failures where the subscription status is on-hold and renewal order status is pending payment</li>
</ul>

<h3>Version 2.3.5 - 2022-11-16</h3>
<ul>
	<li>Security enhancement: Use prepare for all queries</li>
	<li>New: Handle failures where the subscription was set to requires manual renewal and Stripe data is on the subscription</li>
</ul>

<h3>Version 2.3.4 - 2022-11-14</h3>
<ul>
	<li>New: Handle failures for 'subscription trial end' where the subscription is 'on-hold' and there's a 'pending' renewal order, as that indicated that the payment probably failed due to insufficient funds or a blocked card. Then we requeue the action.</li>
</ul>


<h3>Version 2.3.3 - 2022-11-14</h3>
<ul>
	<li>Tweak: Show a default message for actions</li>
</ul>

<h3>Version 2.3.2 - 2022-11-11</h3>
<ul>
	<li>New: List actions which hasn't been auto corrected</li>
</ul>

<h3>Version 2.3.1 - 2022-11-08</h3>
<ul>
	<li>New: ATTEMPT_AUTO_CORRECT_OF_FAILED_SUBSCRIPTIONS now handles failures for 'subscription trial end' and requests a process renewal action if there isn't any renewal orders for the subscription already</li>
</ul>

<h3>Version 2.3.0 - 2022-09-05</h3>
<ul>
	<li>New: You can set ATTEMPT_AUTO_CORRECT_OF_FAILED_SUBSCRIPTIONS to true in wp-config.php to setup automatic requeues of actions that have failed.</li>
	<li>New: Option to enable viewing customers Stripe data on Orders and Subscriptions with an easy link to view the data in the Stripe Dashboard</li>
	<li>New: Introduced styled sections in plugin settings for better overview.</li>
	<li>New: Option to enable Action Scheduler High Volume Processing</li>
</ul>

<h3>Version 2.2.1 - 2022-08-24</h3>
<ul>
	<li>Tweak: Modified REST API endpoint for WooCommerce Subscriptions failed actions output</li>
</ul>

<h3>Version 2.2.0 - 2022-08-24</h3>
<ul>
	<li>New: Added REST API endpoint for WooCommerce Subscriptions failed actions</li>
	<li>Tweak: Remove WordPress Dashboard Widgets</li>
</ul>

<h3>Version 2.1.2 - 2022-04-04</h3>
<ul>
	<li>Bugfix: Earlier declaration of define</li>
	<li>Bugfix: Added required permission_callback to mail log REST route</li>
</ul>

<h3>Version 2.1.0 - 2022-02-14</h3>
<ul>
	<li>Update LSCache Config</li>
	<li>Removed LSCache from setup command, must now be run using configure --litespeed-cache --environment="production"</li>
	<li>Removed iThemes Security from setup command, must now be run using configure --ithemes-security</li>
	<li>Added setup of Display Environment Type to configure command</li>
	<li>Renamed "searchreplace" command to "searep"</li>
	<li>Added configuration of Enfold to "searep" command</li>
</ul>

<h3>Version 1.2.0 - 2019-09-17</h3>
<ul>
	<li>New: Added shortcodes</li>
	<li>Tweak: Disable new user notification emails to admins</li>
</ul>

<h3>Version 1.1.2 - 2019-08-16</h3>
<ul>
	<li>Fix: Reversed if for checking for Disable Emails plugin</li>
</ul>

<h3>Version 1.1.1 - 2019-08-16</h3>
<ul>
	<li>Fix: wrong function name for is_plugin_active</li>
</ul>

<h3>Version 1.1.0 - 2019-08-16</h3>
<ul>
	<li>Add detection and admin notice/warning for when Disable Emails plugin is activated</li>
</ul>

<h3>Version 1.0.0 - 2019-07-15</h3>
<ul>
	<li>Enhanced Password Reset Visibility</li>
	<li>Remove Capital-P-Dang-It filters</li>
	<li>Stop defer of WooCommerce transactional emails</li>
	<li>Stop notifications to the blog admin of a user changing password.</li>
	<li>Stop notifications to the blog admin of new users</li>
</ul>